TestAvro/
CMakeFiles/
build/
3PPIGNORE
.vscode/
*cmake_install.cmake
DSMComms/*/Makefile
Makefile
*.o
*.so
*.a
*/install_manifest.txt
*platform_macros.GNU
*CMakeCache.txt
*tmp/
*DSMComms/common/*.so
*DSMComms/common/*.hh
*DSMComms/common/*.hxx
*DSMComms/common/include/*
DSMComms/common/lib/*