TestAvro/
CMakeFiles/
build/
3PPIGNORE
.vscode/
*cmake_install.cmake
DSMComms/*/Makefile
Makefile
*.o
*.so
*.a
*/install_manifest.txt
*platform_macros.GNU
*CMakeCache.txt
*tmp/
*CORBA/common/*.so
*CORBA/common/*.hh
*CORBA/common/*.hxx
*CORBA/common/include/*
CORBA/common/lib/*